.Logotype {
	position: relative;
	z-index: 2;
	a {
		color: var(--darkBlue);
		font-size: 20px;
		font-weight: 600;
		display: flex;
		align-items: center;
		gap: 5px;
	}
	
	.logoImage {
		width: 34px; height: 34px;
	}
}
