.Sliders {
	margin: 100px 0;

	.swiper-slide {
		width: fit-content;
	}

	.swiper-wrapper {
		padding-bottom: 40px;
	}

	h2 {
		font-size: 26px;
		text-align: center;
		font-weight: 600;
		margin-bottom: 40px;

		@media (max-width: 768px) {
			font-size: 22px;
			margin-bottom: 30px;
		}
	}

	.ProductCard {
		max-width: 100%;
		width: 220px;
	}
}
