.Sliders {
	margin: 100px 0;

	&__Loading {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 300px;
		background: white;
		
		.spinner {
			width: 50px;
			height: 50px;
			border: 4px solid #f3f3f3;
			border-top: 4px solid #3498db;
			border-radius: 50%;
			animation: spin 1s linear infinite;
		}
		
		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}
	}

	.swiper-slide {
		width: fit-content;
	}

	.swiper-wrapper {
		padding-bottom: 40px;
	}

	h2 {
		font-size: 26px;
		text-align: center;
		font-weight: 600;
		margin-bottom: 40px;

		@media (max-width: 768px) {
			font-size: 22px;
			margin-bottom: 30px;
		}
	}

	.ProductCard {
		max-width: 100%;
		img {
			height: 240px;
		}
	}
}

@media all and (max-width: 1024px) {
	
}

@media all and (max-width: 600px) {
	.Sliders {
		.ProductCard {
			img {
				height: 200px;
			}
		}
	}
}

@media all and (max-width: 400px) {
	.Sliders {
		.ProductCard {
			img {
				height: 180px;
			}
		}
	}
}