header.header {
	position: fixed;
	top: 0;
	left: 0;
	background: var(--background);
	width: 100%;
	z-index: 5;
	transition: box-shadow 0.3s ease;
	box-shadow: 0 2px 20px rgba(37, 39, 88, 0.1);

	.header__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		height: 60px;
	}

	.header__menu {
		margin: 0 auto;
	}

	.header-ico__wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		z-index: 6;
	}

	.header__burger {
		display: none;
	}
}

@media all and (max-width: 840px) {
	header.header {
		.header__menu {
			position: absolute;
			z-index: 1;
			height: 100vh;
			height: 100dvh;
			width: 100%;
			top: 0;
			left: -150%;
			background: var(--white);
			transition: all 0.3s;

			nav.Menu ul {
				height: 100vh;
				height: 100dvh;
				flex-direction: column;
				justify-content: center;
				gap: 50px;

				a {
					font-size: 20px;
				}
			}
		}

		.header-ico__wrapper {
			margin-left: auto;
		}

		.header__menu.active {
			left: 0;
		}

		.header__wrapper {
			gap: 5px;
		}

		.header__burger {
			display: block;
			position: relative;
			z-index: 2;
			background: none;
			cursor: pointer;
			border: none;
			height: 32px;
			width: 32px;

			svg {
				width: 32px;
				height: 32px;
				color: var(--darkBlue);
			}
		}

		.header__cart {
			margin-left: auto;

		}
	}
}