footer {
	padding: 30px 0 20px 0;
	background: var(--darkBlue);
	color: var(--white);

	p {
		font-size: 14px;
	}

	.Logotype {
		margin-bottom: 15px;
		a {
			color: var(--white);
		}
	}

	.Menu a {
		color: var(--white);
	}

	.footer__wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: 30px;
	}

	.footer__part {
		max-width: 640px;
	}

	.footer__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 20px;
		border-top: 1px solid var(--gray);
		gap: 30px;

		&-social {
			display: flex;
			gap: 12px;
		}
	}
}
